.d-flex {
  display: flex;
}

.ai-center {
  align-items: center;
}

.jc-center {
  justify-content: center;
}

.jc-between {
  justify-content: space-between;
}

.fd-column {
  flex-direction: column;
}

.f-wrap {
  flex-wrap: wrap;
}

.f-reverse {
  flex-wrap: wrap-reverse;
}

.mb-5 {
  margin-bottom: 25px !important;
}

.mb-6 {
  margin-bottom: 30px !important;
}

.mb-8 {
  margin-bottom: 40px !important;
}

.mb-10 {
  margin-bottom: 50px !important;
}