@import './globalStyles';
@import './form';
@import './button';
@import './productsList';
@import './swiper';
@import './shoppingCart';
@import './accordion';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  max-width: 1400px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.navbar-wrapper {
  position: relative;
  width: 100%;
  height: 50px;
  background-color: $light;
  z-index: 2;
  border-bottom: 1px solid #ebebeb;

  .MuiInputBase-root {
    height: 100% !important;
    padding: 10px 15px;
  }

  button {
    position: relative;
    width: 100% !important;
    height: 100%;
    min-width: 40px !important;
  }

  span, svg{
    transition: all .2s cubic-bezier(.645,.045,.355,1);
  }

  span {
    position: relative;
      
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      width: 4px;
      height: 4px;
      background-color: $dark;
      border-radius: 50%;
      opacity: 0;
      transition: all .2s cubic-bezier(.645,.045,.355,1);
    }
  }
  
  button {

    &:hover {
      background-color: transparent !important;
  
      span {
        transform: translateX(10px);
  
        &::before {
          opacity: 1;
          transform: translateX(-10px);
          left: 0;
        }
      }

      svg {
        transform: scale(1.06);
      }
    }
  }
}

.sidebar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 260px;
  height: 90vh;
  padding: 50px 15px 35px 15px; 
  background-color: $light;
  z-index: 3;
  transition: all 0.2s ease;
  overflow: hidden;
  
  &.hide {
    height: 0;
    padding-top: 0;
    padding-bottom: 0;
  }

  button {
    justify-content: flex-start !important;
  }

  ul {
    justify-content: space-between;
  }

  li {
    list-style: none;
  }
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 0;
  transition: all 0.3s ease;

  &:hover {
    transform: scale(1.1) !important;
  }
}

.searchIcon-content {
  width: 65px;
  height: 100%;
  background-color: $grey;
  border-radius: 5px 0 0 5px;
}

.cart-content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 11px;
  right: 14px;
  min-width: 16px;
  height: 15px;
  transform: translate(50%, -50%);
  border-radius: 7px;
  background-color: $bright;
  overflow: hidden;
}



@keyframes slideIn {
  from {
    transform: translateY(30px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes animate {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@keyframes combinedAnimation {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  50% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.selected-product-wrapper {
  width: 83%;
  margin: 0 auto;
}

.hovered-underline {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    bottom: -3px;
    left: 0;
    width: 0;
    height: 1px;
    background-color: $dark;
    transition: all 0.3s ease;
  }

  &:hover {

    &::before {
      width: 100%;
    }
  }
}


