.card {
  margin-bottom: 50px;
  padding: 15px 20px;

  a {
    transition: all 0.3s ease;

    &:hover {
      transform: scale(1.1);
    }
  }

 
  
  img {
    height: 220px;
    object-fit: scale-down;
  }
}

.card-body {
  padding: 15px;
}